<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>User Question Analysis | Falling Man</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/leaderboard/index">Leaderboards</a>
    <a href="/analysis/index">Analysis</a>


    <h1>User Question Analysis</h1>

    <form action="/analysis/user_question.html" method="POST">

        <!-- List of schools in the database. -->
        <select name="school_id">
            {% for school in schools_list %}
                {% if school_name == school[1] %}
                    <option value='{{ school[0] }}' selected>{{ school[1] }}</option>
                {% else %}
                    <option value='{{ school[0] }}'>{{ school[1] }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <!-- If they have chosen a school, display a list of users who attend that school. -->
        {% if users_list %}
            <select name="user_id">
                {% for user in users_list %}
                    {% if user_name == user[1] %}
                        <option value='{{ user[0] }}' selected>{{ user[1] }}</option>
                    {% else %}
                        <option value='{{ user[0] }}'>{{ user[1] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        
            <!-- Question ID box. -->
            <!-- <input type="text" name="question_id" placeholder="Question ID"> -->
        
            <!-- THIS WILL REPLACE THE QUESTION_ID TEXT BOX. -->
            {% if questions_list %}
                <select name="question_id">
                    {% for q in questions_list %}
                        {% if question_name == q['question'] %}
                            <option value="{{ q['question_id'] }}" selected>{{ q['question'] }}</option>
                        {% else %}
                            <option value="{{ q['question_id'] }}">{{ q['question'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
    
    
        {% endif %}
    
        <!-- changes submit field depending on whether they've selected a school or not. -->
        {% if school_name %}
            <input type="submit" value="Go!">
        {% else %}
            <input type="submit" value="Search for users">
        {% endif %}

    </form>
    

    <!-- Little headings with the details entered by the user -->
    {% if user_name %}
        <h3>Results for: '{{ user_name }}'</h3>
    {% endif %}
    {% if question_name %}
        <h3>Question: "{{ question_name }}"</h3>
    {% endif %}

    <!-- Table of the results -->
    {% if table_entries %}
        <table>
            <tr>
                <th>Correct?</th>
                <th>Value Answered</th>
                <th>Date and Time</th>
            </tr>
            {% for row in table_entries %}
                <tr>
                    <td>{{ row['correct'] }}</td>
                    <td>{{ row['answer'] }}</td>
                    <td>{{ row['time'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No results... sorry. Try refining your search criteria.</p>
    {% endif %}

</body>
</html>


