h1 {
    color: black;
}
body {
    background-color: rgb(245, 245, 245);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    height: 50px;
    border: 1px solid black;
}
td {
    height: 25px;
    border: 1px solid black;
}