<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Global Leaderboard | Falling Man</title>
</head>
<body>
    
    <a href="/">Home</a>
    <a href="/leaderboard/index">Leaderboards</a>

    <h1>Global Leaderboard</h1>
    
    {% if table_entries %}
        <table>
            <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Score</th>
                <th>School</th>
            </tr>
            {% for row in table_entries %}
                <tr>
                    <td>{{ row['user_name'] }}</td>
                    <td>{{ row['user_nickname'] }}</td>
                    <td>{{ row['score'] }}</td>
                    <td>{{ row['school_name'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No results... sorry.</p>
    {% endif %}


</body>
</html>


